@use 'variables-css/colors';
@use 'variables-css/fonts';
@use 'site/base';
@use 'site/text';
@use 'utilities/visibility';
@import '../../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Editorial New';
  font-style: normal;
  font-weight: 400;
  src: url('/parsa-portfolio/fonts/PPEditorialNew-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Editorial New';
  font-style: normal;
  font-weight: 200;
  src: url('/parsa-portfolio/fonts/PPEditorialNew-Ultralight.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Fraktion Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/parsa-portfolio/fonts/PPFraktionMono-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Fraktion Mono';
  font-style: normal;
  font-weight: 700;
  src: url('/parsa-portfolio/fonts/PPFraktionMono-Bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Bigger Display';
  font-style: normal;
  font-weight: 700;
  src: url('/parsa-portfolio/fonts/Bigger-Display.woff2') format('woff2');
  font-display: swap;
}
